<ion-header>
  <ion-toolbar>
    <ion-title>Crear Local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">

    <ion-item>
      <ion-label position="stacked">Nombre del local</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dueño</ion-label>
      <ion-select formControlName="user_id">
        <ion-select-option *ngFor="let u of users" [value]="u.id">
          {{ u.name }} ({{ u.email }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      expand="block"
      class="ion-margin-top"
      [disabled]="form.invalid || loading"
      (click)="save()">
      Crear Local
    </ion-button>

  </form>
</ion-content>
