<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="loading" class="ion-padding"></ion-spinner>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let user of users">
  <ion-label>
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
  </ion-label>

  <ion-button
    slot="end"
    size="small"
    [disabled]="!canEdit(user)"
    [routerLink]="['/admin/users/edit', user.id]">
    Editar
  </ion-button>
</ion-item>
  </ion-list>

</ion-content>
