<ion-header>
  <ion-toolbar>
    <ion-title>Locales</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/admin/locales/create">
        <ion-icon name="add-outline"></ion-icon>
        Nuevo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner
    *ngIf="loading"
    class="ion-padding"
    name="crescent">
  </ion-spinner>

  <!-- lista de locales -->
  <ion-list *ngIf="!loading && locals.length">

    <ion-item *ngFor="let local of locals">

      <ion-label>
        <h2>{{ local.name }}</h2>

        <p *ngIf="local.address">
          📍 {{ local.address }}
        </p>

        <p>
          👤 {{ local.user?.name }} — {{ local.user?.email }}
        </p>

        <p>
          Estado:
          <ion-text color="{{ local.active ? 'success' : 'danger' }}">
            {{ local.active ? 'Activo' : 'Inactivo' }}
          </ion-text>
        </p>
      </ion-label>

      <!-- Acciones -->
      <ion-buttons slot="end">

        <ion-button
          fill="clear"
          color="primary"
          [routerLink]="['/admin/locales/edit', local.id]">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

        <ion-button
          fill="clear"
          color="danger"
          (click)="delete(local)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-item>

  </ion-list>

  <!-- sin datos -->
  <div *ngIf="!loading && !locals.length" class="ion-padding">
    <ion-text color="medium">
      No hay locales registrados
    </ion-text>
  </div>

</ion-content>
