<ion-header>
  <ion-toolbar>
    <ion-title>Editar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select formControlName="role">
        <ion-select-option value="user">Usuario</ion-select-option>
        <ion-select-option value="admin">Admin</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle formControlName="active"></ion-toggle>
    </ion-item> -->

    <ion-button expand="block" (click)="save()">
      Guardar cambios
    </ion-button>
  </form>

</ion-content>
